Repository krist00fer/fluffy-doodle, changes with the labels that .github/labeler.yml gives for each.
All labels: code, documentation

Create label.yml
  .github/workflows/label.yml
Labels: none

testing layout of README
  README.md
Labels: documentation

naive implementation of client and server
  .vscode/launch.json
  Makefile
  src/FluffyDoodle/FluffyDoodle.csproj
  src/FluffyDoodle/Program.cs
Labels: code

refactored solution to contain two projects instead of one
  Makefile
  fluffy-doodle.sln
  src/FluffyDoodle.Client/FluffyDoodle.Client.csproj
  src/FluffyDoodle.Client/Program.cs
  src/FluffyDoodle.Server/FluffyDoodle.Server.csproj
  src/FluffyDoodle.Server/Program.cs
  src/FluffyDoodle.Server/Services/GreeterService.cs
  src/FluffyDoodle.Server/Startup.cs
  src/FluffyDoodle/Program.cs
  src/FluffyDoodle/Properties/launchSettings.json
  src/FluffyDoodle/appsettings.Development.json
  src/FluffyDoodle/appsettings.json
  src/Protos/greet.proto
Labels: code

Tweaks
  Makefile
  src/FluffyDoodle.Client/Program.cs
Labels: code

.github/labeler.yml:

code:
    - src/**/*.cs
documentation:
    - ./**/*.md
    - docs/**/*
